.menuToggle {
   visibility: hidden;
   position: absolute;
}

.openMenu,
.closeMenu {
   display: none;
}

header {
   position: fixed;
   height: 100vh;
   left: 0;
   top: 0;
   bottom: 0;
   padding: 10px 20px 10px 20px;
}

header .menuAnimated {
   height: 100vh;
   position: revert;
   transform: none;
   transition: none;
   justify-items: space-evenly;
}

header .menuAnimated img {
   width: 180px;
   height: auto;
   margin-top: 4.3rem;
   margin-bottom: 10rem;
}

.mainMenu {
   display: flex;
   flex-direction: column;
   line-height: 9rem;
   margin-bottom: auto;
   margin-top: auto;
   font-weight: 900;
}

.mainMenu .fa-home {
   font-size: 6rem;
   color: var(--white);
   transition-duration: 250ms;
   transition-property: font-size;
}

.mainMenu li a::after {
   content: " ";
   height: 3px;
   width: 80%;
   background: var(--white);
   display: flex;
   margin-left: auto;
   margin-right: auto;
   transform: scale(0, 1);
   transition: transform ease-in-out 300ms;
}

.mainMenu a:hover::after {
   transform: scale(1, 1);
}

.mainMenu li a {
   font-size: 2.4rem;
   transition: all 250ms linear;
}

.socialMedia {
   margin-top: 10rem;
   margin-bottom: -1rem;
   flex-direction: column;
   line-height: 8.8rem;
}

.socialMedia a i {
   padding: 0rem;
   font-size: 5rem;
   color: var(--white);
   transition-duration: 500ms;
   transition-property: font-size, color;
}

.fa-facebook:hover {
   font-size: 6rem;
   color: rgb(0, 110, 255);
}
.fa-twitter:hover {
   font-size: 6rem;
   color: rgb(86, 154, 243);
}
.fa-instagram:hover {
   font-size: 6rem;
   color: rgb(255, 0, 191);
}
.fa-github:hover {
   font-size: 6rem;
   color: rgb(255, 123, 0);
}
