.menuToggle {
   visibility: hidden;
   position: absolute;
   width: 0;
   height: 0;
}

.openMenu,
.closeMenu {
   display: none;
}

header {
   position: fixed;
   height: 100vh;
   left: 0;
   top: 0;
   bottom: 0;
   padding: 10px 10px 10px 10px;
}

header .menuAnimated {
   height: 100vh;
   position: revert;
   transform: none;
   transition: none;
}

header .menuAnimated img {
   width: 140px;
   height: auto;
   margin-top: 1rem;
   margin-bottom: 0;
}

.mainMenu {
   line-height: 5.5rem;
   margin-top: 15rem;
   margin-bottom: auto;
   font-weight: 900;
   color: var(--white);
}

.mainMenu li a {
   font-size: 1.7rem;
}

.mainMenu .fa-home {
   font-size: 4rem;
   color: var(--white);
   transition: font-size ease-in-out 350ms;
}

.mainMenu .fa-home:hover {
   font-size: 4.3rem;
}

.socialMedia {
   display: flex;
   flex-direction: column;
   margin-top: auto;
   width: 100%;
}

.socialMedia li i {
   font-size: 3.8rem;
   line-height: 3rem;
   transition: font-size ease-in-out 350ms;
}

.mainMenu li a::after {
   content: " ";
   height: 3px;
   width: 80%;
   background: var(--white);
   display: flex;
   margin-left: auto;
   margin-right: auto;
   transform: scale(0, 1);
   transition: transform ease-in-out 300ms;
}

.mainMenu a:hover::after {
   transform: scale(1, 1);
}

.fa-facebook:hover {
   font-size: 5.2rem;
   color: rgb(0, 110, 255);
}
.fa-twitter:hover {
   font-size: 5.2rem;
   color: rgb(86, 154, 243);
}
.fa-instagram:hover {
   font-size: 5.2rem;
   color: rgb(255, 0, 191);
}
.fa-github:hover {
   font-size: 5.2rem;
   color: rgb(255, 123, 0);
}
