header .menuAnimated img {
   width: 200px;
   height: auto;
   margin-bottom: auto;
   margin-top: 10rem;
}

.mainMenu {
   line-height: 8rem;
   font-size: 3.6rem;
   margin-top: auto;
}

.socialMedia a {
   font-size: 5rem;
   margin-inline: 1rem;
}

.closeMenu {
   font-size: 50px;
   margin-right: 45px;
   margin-top: 45px;
}

.fa-bars {
   font-size: 50px;
}
