* {
   box-sizing: border-box;
   margin: 0%;
   padding: 0%;
}

html {
   font-size: 62.5%;
   font-family: sans-serif;
   font-size: 0.6rem;
   background-color: rgb(0, 0, 0);
}

/* variables */
:root {
   --pseudoWhite: rgb(182, 182, 182);
   --white: #ffffff;
   --black: rgb(0, 0, 0, 0.95);
}

header {
   display: flex;
   background-color: var(--black);
   color: var(--white);
}

header .menuToggle {
   display: flex;
   flex-grow: 1;
   justify-content: flex-end;
   margin: 10px 15px 10px 0;
}

.menuToggle .menuContainer {
   font-size: 30px;
}

.menuToggle .menuContainer:hover {
   cursor: pointer;
}

.menuContainer .fa-bars {
   color: var(--white);
   transition-duration: 1000ms;
}

.menuContainer .fa-bars.black {
   color: var(--black);
   transition-duration: 1000ms;
}

header .menuAnimated {
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   text-align: center;
   background-color: var(--black);
   transform: translateX(-100%);
   transition: transform ease-in 800ms;
}

header .menuAnimated img {
   width: 110px;
   height: auto;
   margin-top: 6rem;
}

header ul {
   list-style: none;
}

header ul a {
   text-decoration: none;
   color: var(--white);
}

.closeMenu {
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 25px;
   margin-top: 25px;
   font-size: 30px;
}

.closeMenu:hover {
   cursor: pointer;
}

.mainMenu {
   display: flex;
   flex-direction: column;
   margin-top: auto;
   line-height: 5.5rem;
   font-size: 2.6rem;
   margin-bottom: auto;
   margin-top: 5rem;
}

.mainMenu li a::after {
   content: " ";
   height: 3px;
   width: 80%;
   background: var(--white);
   display: flex;
   margin-left: auto;
   margin-right: auto;
   transform: scale(0, 1);
   transition: transform ease-in-out 300ms;
}

.mainMenu a:hover::after {
   transform: scale(1, 1);
}

.socialMedia {
   display: flex;
   margin-bottom: auto;
   margin-top: -3rem;
}

.socialMedia li i {
   padding: 2.4rem;
   font-size: 4.2rem;
   transition: font-size ease-in-out 350ms;
}

.menuAnimated.open {
   transform: translateX(0);
   transition: transform ease-in 800ms;
}

.fa-facebook:hover {
   color: rgb(0, 110, 255);
}
.fa-twitter:hover {
   color: rgb(86, 154, 243);
}
.fa-instagram:hover {
   color: rgb(255, 0, 191);
}
.fa-github:hover {
   color: rgb(255, 123, 0);
}

.home {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
}

.firstHome {
   width: 100%;
   height: auto;
   position: relative;
   display: flex;
}

.home img {
   width: 100vw;
   height: auto;
}

.firstHome div {
   background-color: rgb(0, 0, 0, 0.65);
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   right: 0;
   left: 0;
   bottom: 0;
   top: 60%;
   font-weight: 900;
   color: var(--white);
   padding: 10px 0;
   line-height: 3.6rem;
}

.firstHome .text1 strong {
   width: 100%;
   height: 100%;
   font-weight: 100;
}

.firstHome div .text1 {
   font-size: 3rem;
}

.firstHome div .text2 {
   font-size: 1.9rem;
}

.secondHome {
   height: auto;
   display: grid;
   gap: 10px;
   margin-top: 8px;
   text-align: center;
   justify-content: space-evenly;
   grid-template-columns: repeat(4, minmax(80px, 300px));
}

.secondHome div {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   color: var(--white);
   font-size: 1.7rem;
}

.secondHome img {
   width: 75px;
   margin-bottom: 1rem;
}
